.poqr{
    background: blue;
    height: 100px;
    width: 100px;
}
.migin{
    background: red;
    height: 200px;
    width: 200px;
}
.mec{
    background: rgb(231, 248, 2);
    height: 300px;
    width: 300px;
}
.mec_karmir{
    background: rgb(255, 0, 0);
    width: 400px;
    height: 400px;
}
.poqr_dexin{
    background: yellow;
    height: 100px;
    width: 100px;
}
.poqr_kapuyt{
    background: blue;
    height: 100px;
    width: 100px;
}
.mec_3{
    background: aqua;
    height: 400px;
    width: 400px;
}
.kanach{
    background: green;
    height: 100px;
    width: 300px;
}
.dexin{
    background: yellow;
    height: 200px;
    width: 300px;
}
.kapuyt{
    background: blue;
    height: 50px;
    width: 70px;
}
.kapuyt_3{
    background: aqua;
    height: 200px;
    width: 600px;
}
.ng{
    background: orange;
    height: 200px;
    width: 300px;
}
.kp{
    background: blue;
    height: 50px;
    width: 80px;
}
.dx{
    background: yellow;
    height: 300px;
    width: 500px;
}
.mox{
    background: gray;
    height: 300px;
    width: 200px;
}